<!DOCTYPE html>
<html>

<head>
    <title>UNO by TAMO</title>
    <link rel="stylesheet" type="text/css" href="/static/css/room.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var roomCode = "{{ room_code }}";
    </script>
</head>

<body>
    <div class="room-header">
        <h1 class="room-title">UNO No Mercy Room: {{ room_code }}</h1>
        <button id="leave-room-btn">Leave Room</button>
        <button id="new-game-btn" class="hidden">New Game</button>
    </div>
    <button id="start-game-btn" class="hidden">Start Game</button>

    <h2>Players:</h2>
    <ul id="player-list"></ul>

    <h2>Discard Pile</h2>
    <div id="discard-top"></div>
    <div id="stack-counter">Stack: 0</div>
    <div id="playing-color">Playing Color: None</div>

    <div id="draw-deck-size">Draw Deck Size: 0</div>
    <div id="discard-pile-size">Discard Pile Size: 0</div>

    <button id="draw-card-btn" class="hidden">Draw Card</button>
    <button id="call-uno-btn">Call UNO</button>

    <h2 id="current-turn"></h2>


    <h2>Your Hand</h2>
    <div id="hand-container"></div>



    <script src="/static/js/room.js"></script>
</body>

</html>